<footer>
    <nav>
        <a href="https://webpages.uncc.edu/rlupi/itis3135/" target="_blank">UNCC Webspace</a>||
        <a href="https://github.com/rlupi-uncc" target="_blank">GitHub</a>||
        <a href="https://rlupi-uncc.github.io" target="_blank">GitHub.io</a>||
        <a href="https://rlupi-uncc.github.io/itis3135" target="_blank">Course.io</a>||
        <a href="https://www.freecodecamp.org/rlupiuncc" target="_blank">FreeCodeCamp</a>||
        <a href="https://www.codecademy.com/profiles/rlupiuncc" target="_blank">Codecademy</a>||
        <a href="https://www.linkedin.com/in/randall-lupi" target="_blank">LinkedIn</a>
    </nav>
    <p>Designed by <a href="lupisoftware.com/" target="_blank">Lupi Software Design</a> &copy; 2025</p>
</footer>